<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Francis Clark</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Courgette|Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/icon.css" />
  </head>
  <body
    class="text-center"
    data-spy="scroll"
    data-target=".navbar"
    data-offset="180"
  ></body>
</html>
