<% include partials/header %>

<!-- navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="cat">
      <div class="ear ear-left"></div>
      <div class="ear ear-right"></div>
      <div class="head">
        <div class="eye eye-left">
          <div class="pupil"></div>
        </div>
        <div class="eye eye-right">
          <div class="pupil"></div>
        </div>
        <div class="muzzle"></div>
      </div>
    </div>
    <a class="navbar-brand" href="#home">Frank</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-end" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="content-wrapper">
  <!-- front page -->
  <section
    id="home"
    class="jumbotron jumbotron-fluid align-items-center bgd shadow-lg"
    data-speed="5"
    data-type="background"
  >
    <div class="container">
      <h1>My name is Francis Clark.</h1>
      <p>
        Software developers like to solve problems. If there are no problems
        available, they will create their own problems. It’s an addiction
      </p>
      <p>
        <a
          type="btn"
          href="https://www.linkedin.com/in/francis-clark-404902143/"
          target="_blank"
          title="Linkedin profile"
          class="btn btn-outline-light btn-lg"
        >
          <i class="fab fa-linkedin"></i>Linkedin
        </a>
        <a
          type="btn"
          href="https://github.com/SweetPicklee"
          target="_blank"
          title="GitHub profile"
          class="btn btn-outline-light btn-lg"
        >
          <i class="fab fa-github"></i>GitHub
        </a>
        <a
          type="btn"
          href="https://codepen.io/SweetPickle/"
          target="_blank"
          title="CodePen profile"
          class="btn btn-outline-light btn-lg"
        >
          <i class="fab fa-codepen"></i>CodePen
        </a>
      </p>
    </div>
  </section>
  <!-- about -->
  <section id="about">
    <div class="container">
      <div class="col-sm-12">
        <h1 class="page-header">What’s This?</h1>
        <p>
          This is my design of a modern portfolio using HTML5, CSS3, JavaScript,
          jQuery and the Bootstrap 4 framework.
        </p>
        <h3 class="page-header">About Me</h3>
        <p>
          I’m a self-learning developer ready to enter a junior position. I
          always aim to stay versatile and to be able to fill any roles within a
          product group. As such I have been learning technologies across the
          web from front end development to databases. Though I am applying for
          my first professional role as a developer I feel that I can learn and
          achieve the expectations of the role.
        </p>
      </div>
    </div>
  </section>

  <!-- portfolio -->
  <section
    id="portfolio"
    class="bgd shadow-lg"
    data-speed="5"
    data-type="background"
  >
    <div class="container">
      <h1 class="page-header">Portfolio</h1>
      <h3>Oh look, cool stuff!</h3>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card bg-dark">
            <a
              href="https://furry-tails.herokuapp.com/"
              target="_blank"
              class="item green"
              >
                <img
                src="/img/furrytails.png"
                class="card-img-top"
                alt="Furry Tails Image"
                />
                <i class="fas fa-ellipsis-h"></i></a
            >
            <div class="card-body">
              <h5 class="card-title">Furry Tails</h5>
              <p class="card-text">
                Share all your favourite furry pets with your friends.
              </p>
              <a
                href="https://furry-tails.herokuapp.com/"
                target="_blank"
                class="btn btn-success"
                >Play</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card bg-dark">
            <a
            href="https://franks-blog.herokuapp.com/blogs"
            target="_blank"
            class="item blue"
            >
              <img
              src="/img/blog.png"
              class="card-img-top"
              alt="Blog Image"
              />
              <i class="fas fa-ellipsis-h"></i></a
            >
            <div class="card-body">
              <h5 class="card-title">Frank's Blog</h5>
              <p class="card-text">
                Simple blog app want to post something on it click here
              </p>
              <a
                href="https://franks-blog.herokuapp.com/blogs"
                target="_blank"
                class="btn btn-success"
                >Play</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card bg-dark">
            <a
            href="https://franks-recipe.herokuapp.com/"
            target="_blank"
            class="item red"
            >
              <img
              src="/img/recipes.png"
              class="card-img-top"
              alt="Frank's Recipe"
              />
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="card-body">
              <h5 class="card-title">Frank's Recipes</h5>
              <p class="card-text">
                My first react app built with the edamam recipe api
              </p>
              <a
                href="https://franks-recipe.herokuapp.com/"
                target="_blank"
                class="btn btn-success"
                >Play</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- contact -->
  <section id="contact">
    <div class="container">
      <h1 class="page-header">Say Hi!</h1>
      <div class="row">
        <div class="col-sm-12">
          <p>Contact me and I’ll get back to you within a day.</p>
          <p><i class="fas fa-map-marker-alt"></i> Scotland, United Kingdom</p>
          <p><i class="fas fa-mobile"></i> +44 7927 258664</p>
          <p><i class="far fa-envelope"></i> Francis.Clark3012@gmail.com</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="container-fluid">
    <a class="top" href="#home" title="Back to top">
      <p><i class="fas fa-chevron-up"></i> <br />Back to top</p>
    </a>
  </footer>
</div>
<% include partials/footer %>
